.sidebar {
    width: 250px;
    min-height: 100vh;
    transition: 0.3s;
}

.sidebar.collapsed {
    width: 70px;
}

.sidebar.collapsed .link-text {
    display: none;
}

.nav-link {
    display: flex;
    align-items: center;
    gap: 10px;
}