.image-preview-container {
    width: 100%;
    height: 100%;
}

.image-preview {
    width: 100%;
    height: 550px;
    background-image: url('../../image/fundo.jpeg');
    background-size: cover;
    background-position: center;
    border-radius: 12px;
    border: 1px solid #e5e7eb;
    transition: 0.3s ease;
}

.form-control:focus,
.form-select:focus {
    border-color: #ffc20c !important;
    box-shadow: 0 0 0 0.2rem rgba(255, 194, 12, 0.25) !important;
}